/* Make sure the left side div (with the image) takes full height */
.left-side {
  height: 100vh;
}

.left-side img {
  object-fit: cover;  /* Ensures the image covers the div */
}

/* Right side login form centered vertically and horizontally */
.right-side {
  height: 100vh;
  background-color: #e2e3e333;
}
.login-form {
  width: 100%;  /* Adjust form width */
  max-width: 600px;
  padding: 20px;
  border:1px solid #a09c9c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-form.dashboard{
  border:2px solid #a09c9c66;;
  border-radius: 8px;
  box-shadow:3px 8px 8px rgba(10, 10, 10, 0.2);
}
.login-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}
.login-right-side {
  background-image: url('/public/img/image6.png');  /* Referencing the image from the public folder */
  background-size: cover;  /* Cover the whole container */
  background-position: center;  /* Center the background */
  height: 100vh;  /* Take up the entire height of the viewport */
}
.login-form-section{
  background-color: #f3f3f3;
  border-radius: 20px;
  padding:20px 20px 30px 20px;
}
.fix-height{
  height:60vh !important;
  background-color: transparent !important;
}
table{
  width:100%;
  border:2px solid #000;
  border-radius: 20px;
  padding:20px 20px 30px 20px;
  box-shadow:3px 8px 8px rgba(10, 10, 10, 0.2);
}
tr, td{
  border:2px solid #0000003b;
}
.bg-head{
  background-color: #373b71 !important;
  color:#fff !important;
  padding:10px !important;
}
.ctm-width{
  width: 92%;
  margin-top:90px;
}
.bdrRadius{
  border-radius: 20px;
  overflow: hidden;
}
.btnsubmit, .btn:first-child:active, .btn:hover{
  background-color: #0F123F;
  color: #f3f3f3;
  padding:5px 5px;
}
th, td{
  text-align: center;
}
.ctm-popup{
  position: absolute;
  top:35%;
}
.col-md-6.left-side .img-fluid.register {
  max-width: 40% !important;
}
